<!--The content below is only a placeholder and can be replaced.{{title}}-->
    <nav class="navbar navbar-expand-md navbar-dark  fixed-top" style="background-color: #107fce;">
      <a class="navbar-brand" href="#">GAIN</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Link</a>
          </li>
          <li class="nav-item">
            <a class="nav-link disabled" href="#">Disabled</a>
          </li>
		  <li class="nav-item dropdown">
				<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
				  Dropdown
				</a>
				<div class="dropdown-menu" aria-labelledby="navbarDropdown">
				  <a class="dropdown-item" href="#">Action</a>
				  <a class="dropdown-item" href="#">Another action</a>
				  <div class="dropdown-divider"></div>
				  <a class="dropdown-item" href="#">Something else here</a>
				</div>
		 </li>
        </ul>
        <form class="form-inline my-2 my-lg-0">
          <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
      </div>
    </nav>

    <main role="main" class="container">

      <div class="starter-template">
        <h1>Bootstrap starter template</h1>
        <form class="form-horizontal">
            <fieldset>
            
            <!-- Form Name -->
            <legend>Create New Report</legend>
            
            <!-- Text input-->
            <div class="form-group">
              <label class="col-md-4 control-label" for="ReportName">ReportName:</label>  
              <div class="col-md-8">
              <input id="ReportName" name="ReportName" type="text" placeholder="placeholder" class="form-control input-md" required="">
              <span class="help-block">Dont use special charecters($,#,!* etc and keep it length max to 200 charecters</span>  
              </div>
            </div>
            
            <!-- Prepended checkbox -->
            <div class="form-group">
              <label class="col-md-4 control-label" for="IsReportPublic">Is Public Report:</label>
              <div class="col-md-8">
                <div class="input-group">
                  <span class="input-group-addon">     
                      <input type="checkbox">     
                  </span>
                  <input id="IsReportPublic" name="IsReportPublic" class="form-control" type="text" placeholder="Check this if the Report is for Public" required="">
                </div>
                <p class="help-block">Public Reports are accessed to all user online</p>
              </div>
            </div>
            
            </fieldset>
            </form>
        <p class="lead">Use this document as a way to quickly start any new project.<br> All you get is this text and a mostly barebones HTML document.</p>
      </div>

    </main><!-- /.container -->